header {
  background:#008fff;
  color:#FFF;
}

.main {
  background:#f2f2f2;
}

.color1 {
  background: #34495e;
  color:#fff;
}

aside {
  background:#c0392b;
  color:#fff;
}

footer {
  background:#16a085;
  color:#fff;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  background-image:url('https://www.altonivel.com.mx/assets/images/Estructura_2015/Negocios/Empresas/torre-bbva.jpg') ;
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

table {
  border-collapse: separate;
  float: right;
  vertical-align: middle;
}

td {
  margin: 8px;
  padding: 8px;
}

/*
http://www.grupocobra.com/wp-content/uploads/2017/05/Centro20Operativo202.jpg
https://www.elpipila.mx/wp-content/uploads/2017/07/bancomer-1.jpg
https://www.bbva.com/wp-content/uploads/2015/12/bbva-mexico-torre-bancomer-1920x0-c-f.jpg
https://www.altonivel.com.mx/assets/images/Estructura_2015/Negocios/Empresas/torre-bbva.jpg
*/
