<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-login.html">
<link rel="import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<link rel="lazy-import" href="my-home.html">
<link rel="lazy-import" href="my-ayuda.html">
<link rel="lazy-import" href="my-cuentas.html">



<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        --app-drawer-width: 100px;


        display: block;
      }

      /*app-drawer {
        --app-drawer-scrim-background: rgba(120,180,0,250);
      }*/

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;

      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>
    <!--<iron-ajax
              id="obtenerInfo"
              url="http://localhost:3000/v1/cliente"
              handle-as="json"
              method = "GET"
              on-response="mostrarInfo"
    ></iron-ajax>-->
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" >
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation" activate-event="">
          <!--<a name="view1" href="[[rootPath]]view1">View One</a>-->
          <div class="" hidden={{vllogeado}}>
            <a name="view2" href="[[rootPath]]view2">Cuentas</a>
          </div>
          <div class="" hidden={{estatus}}>
            <a name="home" href="[[rootPath]]home">Home</a>
            <a name="ayuda" href="[[rootPath]]ayuda">Ayuda</a>
          </div>

        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>ProTechU</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-home name="home" id="home" rootPath=[[rootPath]]></my-home>
          <my-ayuda name="ayuda" id="ayuda" rootPath=[[rootPath]]></my-ayuda>
          <my-login name="login" id="login" etuser="Username" etpassword="Password" etlogin="Iniciar sesión"></my-login>
          <my-registro name="registro" id="registro" etuser="Username" etpassword="Password" ettarjeta="Tarjeta" etnip="Nip" etcpassword="Confirmar Password" etlogin="Registrar"></my-registro>
          <my-view2 name="view2" id="view2"></my-view2>
          <my-logout name="logout" id="logout" nombre="[[nombre]]"></my-logout>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          vllogeado: {
            type: Boolean,
            value: true
          },
          estatus: {
            type: Boolean,
            value: false

          },
          idcliente: {
            type: Number
          },
          cuentas: {
            type: Array
          },
          nombre: {
            type: String
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      ready(){
        super.ready()
        this.$.login.addEventListener('logeado', e => {this.enviarDatosAHijo(e)})
        this.$.view2.addEventListener('logout', e => {this.cambiarDatosAHijo(e)})
      }
      enviarDatosAHijo(e){
        //console.info("Soy tu padre banco: " + JSON.stringify(e.detail))
        this.estatus=e.detail.logged
        this.idcliente=e.detail.idcliente
        if (this.estatus) {
          this.vllogeado=false
          this.page="view2"
          //this.routeData.page = "view2"
          //this.subroute.prefix = "/view2"
          //console.log(this.$0);
          this.$.view2.procesarDatos(e.detail);
        }
      }

      cambiarDatosAHijo(e){
        //console.info("cambiar datos Logout:" + JSON.stringify(e.detail))
        this.estatus=e.detail.logged
        this.nombre=e.detail.nombre
        if (!this.estatus) {
          this.vllogeado=true
          this.page="logout"
          //this.routeData.page = "view2"
          //this.subroute.prefix = "/view2"
          //console.log(this.$0);
          //this.$.logout.procesarDatos(e.detail);
        }
      }
      /*mostrarInfo(data){
        console.log(data.detail.response)
        console.log("Mostrarcuentas:"+data.detail.response[0].nombre)
        this.idcliente = data.detail.response[0].idcliente
        this.cuentas = data.detail.response[0].cuentas

        //this.cuentas = null
        this.noTengoCuentas = false
      }*/
      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'home' in that case.
        this.page = page || 'home';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
