<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/skeleton-carousel/skeleton-carousel.html">
<link rel="import" href="../bower_components/l2t-paper-slider/l2t-paper-slider.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-test-helpers/iron-test-helpers.html">
<link rel="import" href="../bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">



<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="my-contenido">
  <template>
  <style is="custom-style" include="shared-styles">
    iron-image {
      display: block;
      background-color: white;
      min-height: 350px;
    }

    skeleton-carousel {
      min-height: 600px;
    }
  </style>
<div class="card">
  <skeleton-carousel dots nav loop auto>
    <iron-image placeholder="../images/techu1.jpg"
                   data-src="../images/techu1.jpg"
                sizing="cover"
                preload
                fade
                ></iron-image>
    <iron-image placeholder="../images/techu2.jpg"
                   data-src="../images/techu2.jpg"
                sizing="cover"
                preload
                fade
                ></iron-image>
    <iron-image placeholder="../images/techu3.jpg"
                  data-src="../images/techu3.jpg"
                sizing="cover"
                preload
                fade
                ></iron-image>
  </skeleton-carousel>
</div>
  </template>
  <script>
  class MyContenido extends Polymer.Element {
      static get is() { return 'my-contenido'; }
    }
    window.customElements.define(MyContenido.is, MyContenido);
  </script>
</dom-module>
