
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!--REFERENCIAS DEL PROYECTO -->
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/d2l-button/d2l-button.html">

<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="simple-overlay.html">


<dom-module id="my-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <iron-ajax id="validaLogout"
            url="http://localhost:3000/v1/usuario/logout"
            method="POST"
            on-response="mostrarLogout">
    </iron-ajax>

    <div class="card">
      <div class="field">
        <h3>Hasta pronto [[nombre]]</h3>
      </div>
    </div>

    </div>
  </template>

  <script>
    class MyLogout extends Polymer.Element {
      static get is() { return 'my-logout'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          vluser: {
            type: String
          },
          vlpassword: {
            type: String
          },
          vllogeado: {
            type: Boolean,
            value: false
          },
          vldetalle: {
            type: Object
          },
          estatus: {
            type: Boolean,
            value: false
          },
          idcliente: {
            type: Number
          },
          nombre: {
            type: String
          },
        }
      }
    }
      /*hacerLogout(){
        //console.log(this.vluser + this.vlpassword)
        this.$.validaLogout.headers.email=this.vluser
        this.$.validaLogout.headers.password=this.vlpassword
        this.$.validaLogout.generateRequest();
        //this.vldetalle=JSON.parse('{"detail":{"estatus":false,"idcliente":0}}')
       //console.log(this.vldetalle);
        //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:false}}))
      }
      mostrarLogout(data){
        console.log(data.detail.response)
        console.log("Login correcto de " + this.vluser )
        if (data.detail.response.login == "OK")
          this.vllogeado=true
          this.vldetalle=JSON.parse('{"detail":{"estatus":'+this.vllogeado+',"idcliente":'+data.detail.response.idcliente+'}}')
          console.log(this.vldetalle);
          //this.dispatchEvent(new CustomEvent('logeado',{detail:{estatus:true}}))
          this.dispatchEvent(new CustomEvent('logeado',  this.vldetalle))
        }
      }*/

    window.customElements.define(MyLogout.is, MyLogout);
  </script>
</dom-module>
